<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>&nbsp;</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
         <link href="css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <link href="css/bootstrap.min.css"  rel="stylesheet">
        <link href="css/bootstrap-theme.min.css"  rel="stylesheet">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link href="easyTable.css"  rel="stylesheet">
        
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="easyTable.js"></script>
        
        
    </head>
   
</html>
