<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
    
    

    <section class="cid-rbHQqGCxyd" id="footer1-b">
        <div class="container">
            <div class="media-container-row content text-white">
                <div class="col-12 col-md-3">
                    <div class="media-wrap">
                        <a href="/">
                            <img src="../resources/assets/images/logotipo05-256x310.png" alt="Mobirise" title="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">Endereço</h5>
                    <p class="mbr-text">Cidade de Pemba, Entrada S.O.S<br>Bairro Eduardo Mondlane<br>Quarterão nº 19, Rua 026</p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Contactos</h5>
                    <p class="mbr-text">
                        Email: jamaldinojamal.jj@gmail.com Phone: +258 826876630 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br><br></p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">Público Alvo</h5>
                    <p class="mbr-text">Funcionarios do Estado<br>Negociantes e Empreendedores<br>Pessoas com Bens a Penhorar</p>
                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white">
                    <div class="col-sm-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-7">
                            © Desenvolvido pela INFOSS.NET, E.I - 2018</p>
                    </div>
                    <div class="col-md-6">
                        <div class="social-list align-right">
                            <div class="soc-item">

                                <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>

                            </div>
                            <div class="soc-item">

                                <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>

                            </div>
                            <div class="soc-item">

                                <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>

                            </div>
                            <div class="soc-item">

                                <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script type="text/javascript">

        $(document).ready(function(){

            $('.funcionario').hide();
            $('.comerciante').hide();
            $('.creditoPenhor').hide();

        });

        function get_val(v){

            if(v == 1){
                $('.funcionario').show();
                $('.comerciante').hide();
                $('.creditoPenhor').hide();
            }

            if(v == 2){
                $('.comerciante').show();
                $('.funcionario').hide();
                $('.creditoPenhor').hide();
            }
            if (v == 3){
                $('.creditoPenhor').show();
                $('.funcionario').hide();
                $('.comerciante').hide();
            }
        }

    </script>
</div>
</body>
</html>