<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>app.context.AppContext</listener-class>
    </listener>
    <servlet>
        <servlet-name>GetJson</servlet-name>
        <servlet-class>app.servlets.GetJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDController</servlet-name>
        <servlet-class>app.servlets.CRUDController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetJson</servlet-name>
        <url-pattern>/GetJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDController</servlet-name>
        <url-pattern>/CRUDController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>90</session-timeout>
    </session-config>
</web-app>
